lightfm>=1.16
pandas>=1.3.0
scikit-learn>=1.0.0
fastapi>=0.68.0
matplotlib>=3.4.0
joblib>=1.0.0
openpyxl>=3.0.0
numpy>=1.20.0
scipy>=1.7.0
uvicorn>=0.15.0
requests>=2.26.0
pydantic>=1.8.0
openai>=0.27.0
scikit-surprise>=1.1.3
sentence-transformers>=2.0.0
torch>=2.0.0
tqdm>=4.64.0
streamlit>=1.20.0
langchain>=0.3.0
langchain-core>=0.3.0
langchain-openai>=0.3.0
neo4j>=5.14.0
python-dotenv>=1.0.0
transformers>=4.41.1
spacy>=3.7.4
sentencepiece>=0.1.99
pyabsa>=2.3.4
pytest>=7.0.0